<h1>トップページ</h1>
<div>診断をする
  <ul>
    <li><%= link_to "自分の価値観を知ろう", new_career_anchor_path %></li>
    <li>*******</li>
  </ul>
</div>
<div>結果を確認する
  <ul>
    <li> 
    <%= link_to "自分の価値観について", career_anchors_path,method: :get %>
    </li>
    <li>*******</li>
  </ul>
</div>
